.department {
  &-header {
    padding: 80px 0;
    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($themeColorOne, 0.5);
    }

    h1 {
      position: relative;
      display: block;

      color: #fff;
      font-size: 36px;
      padding-top: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        display: block;
        width: 50px;
        height: 1px;
        background-color: #fff;
        transform: translateX(-50%);
      }
    }
  }

  &-wrapper {
    .tabs {
      .controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        > button {
          padding: 15px 15px;
          border: 1.5px solid $themeColorTwo;
          font-size: 12px;
          font-family: $fontFamilyOne;
          text-transform: uppercase;
          color: #ccc;
          background-color: #fff;

          flex: 1;

          transition: all 0.4s ease-in-out;
          cursor: pointer;
          &.active,
          &:hover {
            background-color: $themeColorTwo;
            color: #fff;
          }
        }
      }
      .content {
        > div {
          padding: 35px 0;
          color: #353535;

          > .vc_row {
            p,
            strong {
              font-size: 16px;
            }
            &:not(:last-of-type) {
              margin-bottom: 25px;
            }
          }

          span.big-letter {
            float: left;
            font-size: 42px;
            line-height: 48px;
            margin-right: 8px;
            color: #000;
          }
        }
      }
    }
  }

  &-slider-wrapper {
    padding: 60px 0;
    background-color: $themeColorOne;

    h2 {
      color: #fff;
      font-size: 36px;
      margin: 0 0 35px;
      padding: 0;
    }
  }

  &-content-wrapper {
    padding: 60px 0;
  }

  &-subjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    > p {
      min-width: 50%;
      max-width: 50%;
      font-size: 16px;
      margin-bottom: 5px;
      color: #353535;

      &:nth-child(odd) {
        text-align: left;
      }

      &:nth-child(even) {
        text-align: right;
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 1px solid #edeef0;
    > div {
      flex: 1;
      border-right: 1px solid #edeef0;
      padding: 50px 20px;
      text-align: center;

      strong {
        display: block;
        font-size: 14px;
        font-family: $fontFamilyOne;
        text-transform: uppercase;

        margin-bottom: 5px;
      }

      a,
      span {
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
      }

      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          i {
            color: $themeColorTwo;
            font-size: 18px;
          }
        }
      }

      &:last-child {
        border-right: 0px;
      }
    }
  }

  &-teacher {
    text-align: center;

    img {
      margin-bottom: 10px;
      display: inline-block;
    }

    strong {
      font-size: 14px;
      text-transform: uppercase;
      font-family: $fontFamilyOne;
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      padding: 0px;
      margin-bottom: 10px;
      color: #000;
      line-height: 21px;
    }

    p {
      font-size: 16px;
      color: #a0a0a3;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
    }

    &__item {
      width: 23%;
      border: 1.5px solid #edeef0;
      padding: 50px 25px;
      text-align: center;

      transition: background-color 0.4s ease-in-out;

      @media screen and (max-width: 991px) {
        width: 100%;
        margin-bottom: 15px;
      }

      i {
        font-size: 42px;
        color: $themeColorTwo;
        display: block;
        margin-bottom: 25px;
      }

      h4 {
        text-transform: uppercase;
        font-size: 16px;
        font-family: $fontFamilyOne;
        transition: color 0.4s ease-in-out;
      }

      &:hover {
        background-color: $themeColorOne;
        h4 {
          color: #fff;
        }
      }
    }
  }

  &-videos {
    &-wrapper {
      background-color: #1e2c4f;
      h2 {
        color: #fff;
      }
    }
  }

  &-articles {
    &-wrapper {
      background-color: #edeef0;
    }
    &__item {
      h4 {
        font-size: 16px;
        font-family: $fontFamilyOne;
        margin: 10px 0;
      }
      &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          color: #a0a0a3;
          font-family: $fontFamilyOne;
          font-size: 14px;
        }

        a {
          font-size: 14px;
          text-transform: uppercase;
          color: $themeColorOne;
          font-family: $fontFamilyOne;
        }
      }
    }
    &-link {
      display: inline-flex;
      align-items: center;

      &--white {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }

      img {
        display: inline-block;
        margin-left: 15px;
        height: 25px;
      }

      font-size: 14px;
      text-transform: uppercase;
      font-family: $fontFamilyOne;
    }
  }
}

.teachers-slider {
  position: relative;
  &__slide {
    > div {
      max-width: 250px;
      margin: 0 auto;
    }

    img {
      display: block;
    }

    h4 {
      color: #fff;
      font-size: 16px;
      margin: 15px 0 8px;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: #ccc;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #4b5672;
    color: #4b5672;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.slick-prev {
      left: -50px;
    }

    &.slick-next {
      right: -50px;
    }
  }
}

.video-block {
  &__thumbnail {
    position: relative;
    display: block;
    img:not(.video-image__inner) {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translateX(-50%) translateY(-50%);

      width: 60px;
      height: 60px;
      z-index: 2;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.25);
      z-index: 1;
    }
  }

  &__content {
    color: #fff;
    font-size: 16px;
    a {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block;
      font-family: $fontFamilyOne;

      &:hover,
      &:active {
        color: #fff;
      }
    }

    h3 {
      font-size: 36px;
      color: #fff;
      line-height: 36px;
      position: relative;
      padding-bottom: 26px;
      margin-bottom: 26px;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 1.5px;
        background-color: $themeColorTwo;
      }
    }
  }
}

.concert-hall-toggler {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  > a,
  > span {
    display: block;
    padding: 15px 15px;
    border: 1.5px solid $themeColorTwo;
    font-size: 12px;
    font-family: $fontFamilyOne;
    text-transform: uppercase;
    text-align: center;
    color: #ccc;
    background-color: #fff;

    flex: 1;

    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  span,
  a:hover {
    background-color: $themeColorTwo;
    color: #fff;
  }
}

.concert-item {
  margin-bottom: 35px;

  h3 {
    font-size: 20px;
    margin: 5px 0 5px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .date {
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #ccc;
  }
}
