@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,700&display=swap&subset=cyrillic-ext');

//font-family: 'Lora', serif;
//font-family: 'Roboto', sans-serif;
$font-family-sans-serif: 'Arial', 'Helvetica', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

$fontFamilyOne: 'Roboto', sans-serif; // без засечек
$fontFamilyTwo: 'Lora', serif; // с засечками
